

body {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    color: white;
    text-align: center;
}

h1 {
    /* color: white; */
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    text-transform: uppercase;
}


.motivation-img {
    width: 100%;
    border: solid white;
    margin-top: 5px;
}